extends ../layout

block content
  h1 Status
  p.lead Atualizar
  hr
  form.row(action="" method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .col-md-12
      p Nome
      p 
        input(type='text' name='nome' value=data.nome)
      p Codigo
      p 
        input(type='text' name='codigo' value=data.codigo || data._id)
    .col-md-12
      button.btn.btn-success(role='button') Salvar »