extends ../layout

block content
  h1 Status
  p.lead Atualizar
  hr
  .row
    .col-md-3
      h2 nome - status
      p id: 564654564
      p
        a.btn.btn-success(href='#', role='button') Editar »
        a.btn.btn-success.float-right(href='#', role='button') Excluir »
    